
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div  class="container">

      <!-- se o link for ativado a classe 'active' será adicionada ao elemento -->
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">MyApp</a>

      <ul  class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="currentUser$|async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
            
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
            
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
        </ng-container>

        <li class="nav-item">
          <a class="dropdown-item" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>
      </ul>

        <div *ngIf="(currentUser$|async) as user" class="btn-group" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-animated">
           Welcome {{user.username|titlecase}} <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu mt-3" role="menu" aria-labelledby="button-animated">
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
            </li>
            <li role="menuitem">
              <a (click)="logout()" class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>

          <!-- O operador '!' não funciona com o *ngIf' -->
          <form class="d-flex" role="search" autocomplete="off"
              #loginForm="ngForm" *ngIf="(currentUser$|async) === null" (ngSubmit)="login()">

              <input class="form-control me-2" type="text" placeholder="Username" name="username" 
                [(ngModel)]="model.username">
              
              <input class="form-control me-2" type="text" placeholder="Password" name="password" 
                [(ngModel)]="model.password">
              
              <button class="btn btn-success" type="submit">Login</button>
              
          </form>
    </div>

</nav>




